[submodule "externals/lidia"]
	path = externals/lidia
	url = git@github.com:gauenk/lidia.git
[submodule "externals/cola_net"]
	path = externals/cola_net
	url = git@github.com:gauenk/cola_net.git
[submodule "externals/n3net"]
	path = externals/n3net
	url = git@github.com:gauenk/n3net.git
[submodule "externals/uformer"]
    branch = main
	path = externals/uformer
	url = git@github.com:gauenk/uformer.git
[submodule "externals/nlrn"]
	path = externals/nlrn
	url = git@github.com:gauenk/nlrn.git
[submodule "externals/dagl"]
    branch = main
	path = externals/dagl
	url = git@github.com:gauenk/dagl.git
